@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap');

:root {
      --color-white: #ecf0f3;
      --color-light-grey:#a7aaaf;
      --color-dark-grey:#5f5f5f;
      --color-shadow-dark: #cbced1;
      --color-shadow-light: #dd6565;
      --color-mark:#06d6a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    font-family: 'Piazzolla',
    serif;
    background-color: var(--color-mark);
}

.card{
    margin-top: 10rem;
    border-radius: 1rem;
    
}

/* input:not([type]), */
input[type="text"]:not(.browser-default),
textarea.materialize-textarea {
    padding: 1rem;
}

.input-field >label { 
    color: var(--color-dark-grey);
    font-size: 1.5rem;
  
}

.card-action{
    margin-top: 3rem;
}

.clear-tasks{
    margin-top: 2rem;
}

.collection-item {
    padding: 2rem !important;
    border-radius: 1rem;
    margin-top: .7rem !important;
    
}
.collection {
    width: 100%;
    border: none;
}



.background {
    height: 35rem;
    width: auto;
    background: url('https://source.unsplash.com/random') no-repeat center center/cover;
    border-radius: 5px;
}